<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestNGPackage2.Sumo1"/>
      <class name="TestNGPackage2.Demo1"/>
      <class name="TestNGPackage2.Remo1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
